body {
    background-color: #FAFBFC;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    position: relative;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

.dt-table-container__row::-webkit-scrollbar {
  display: none !important;
}

/* Hide Plotly controls */
.modebar {
  display: none !important;
}

/* NumericInput */
.daq-numericinput--light__input {
    /* border: none !important; */
    padding: 4px 7px !important;
    border: none !important;
}


/* BooleanSwitch */
.daq-booleanswitch--light__background {
    box-sizing: content-box;
}

/* Dropdown */
.Select-control {
    border: none !important;
}

.Select.is-focused:not(.is-open) > .Select-control{
    border-color: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
}

.column-actions {
    order: 9;
}

.column-header--sort  {
    color: #96A5B8 !important;
    margin-left: 20px !important;
}